{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    
/* styling our main content */

.hero {
    min-height: 800px;
    text-align: center;
    background-image: url());
    background-size: cover;
    height: 100%;
}

.hero-content {
    color: #FFF;
    padding-top: 130px;
}

.hero-content h1 {
    font-size: 100px;
    margin: 0;
}

.hero-content p {
    font-size: 50px;
}

.hero-content a {
    display: inline-block;
    color: #FFF;
    border: 3px solid #FFF;
    border-radius: 3px;
    padding: 15px 30px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 28px;
}

</style>
        <div class="hero">
            <!-- content for the hero -->
            <div class="hero-content">
                <h1 class="hero-title">Welcome </h1>
                <p>Shop with Us.</p>

                <a href="#">Products</a>
                <a href="#">learn more</a>
            </div>
        </div>

       
        </div>

        {% endblock content %}